.action{
    height: 0;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.967);
    border-radius: 15px;
    position: absolute;
    bottom: 120px;
    left: 30px;
    transition: height 0.4s;
    overflow: hidden;
    padding: 0;
    /* margin: -50px 0 0 100px; */
}

.fade-actions{
    border-radius: 15px;
}

.action h2{
    text-align: center;
    margin: -20px 0 0;
}

.action-sidebar-actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
}

.action-sidebar-action{
    width: 100%;
    background-color: transparent;
    text-align: left;
    color: rgb(11, 185, 185);
    font-size: 20px;
    border: none;
    transition: padding 0.3s;
    padding: 1px 20px;
}

.action-sidebar-action:hover{
    padding: 1px 0 1px 30px;
}

.sign-action-sidebar-action{
    width: 100%;
    background-color: transparent;
    text-align: left;
    color: rgb(11, 185, 185);
    font-size: 20px;
    border: none;
    transition: padding 0.3s;
    padding: 1px 20px;
}

.sign-action-sidebar-action:hover{
    padding: 1px 0 1px 30px;
}

.sign-actions{
    height: fit-content;
    width: 0;
    /* background-color: red; */
    position: absolute;
    top: 0%;
    overflow: hidden;
    transition: width 5s;
    padding: 5px 0;
    margin: 190px 0px 0 155px;
}

.sign-actions .action-sidebar-action{
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1px 20px 1px 20px;
    margin: 1px 0;
}

.sign-actions .action-sidebar-action:hover{
    background-color: rgba(0, 128, 128, 0.17);
}