.avatar-parent{
    /* height: 100vh;
    width: 100vw; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.avatar-sidebar{
    width: 0;
    border-radius: 0 15px 15px 0;
    transition: width 0.3s;
    direction: rtl;
    padding: 0 0 150px;
}

#close-avatar-sidebar{
    top: 15px;
    left: 20px;
}

.avatar-sidebar hr{
    border-color: teal;
}

.fade-avatar{
    height: 50px;
    position: static;
    margin-bottom: 0px;
}

.avatar-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
    padding: 0 35px;
}

.avatar-section1 p{
    font-size: 25px;
}

.avatar-section2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    direction: ltr;
    padding: 15px 35px;

}

.avatar-section2-1{
    display: flex;
    flex-direction: row;

}

.avatar-section2-2{
    background-color: transparent;
    display: flex;
    flex-direction: row;

}

.avatar-section2-21{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.avatar-section2-211{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.avatar-section2-212{
    background-color: transparent;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;

}

.avatar-section2-2121{
    margin: 0 0 10px 0;
}

.avatar-section2-2122{
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}

.avatar-section2-21221{
    font-weight: bold;
}

.avatar-section2-2123{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 20px;
}

.avatar-section2-21231{
    font-weight: bold;
}

.avatar-section2-2124{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.avatar-section2-21241{

}

.avatar-section2-212411{
    font-weight: bold;

}

.avatar-section2-212412{

}

.avatar-section2-21242{

}

.avatar-section2-2125{
    margin: 20px 0 0;

}

.avatar-section2-21251{
    display: flex;
    flex-direction: column;

}

.avatar-section2-212511{
    font-weight: bold;

}

.avatar-section2-212512{
    
}

.avatar-section3{
    display: flex;
    flex-direction: column;
    direction: ltr;
    padding: 0 35px;
}

.avatar-section3-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.avatar-section3-11{
    font-weight: bold;
}

.avatar-section3-12{
    
}

.avatar-section3-2{
    border-top: 2px solid teal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-right: 60px;
}

.avatar-section3-2 img{
    border-radius: 50%;
    transition: transform 0s;
    margin: 5px;
}

.avatar-section3-2 img:hover{
    transform: rotateZ(360deg);
    transition: transform 0.5s;
}

.avatar-section4{
    display: flex;
    flex-direction: column;
    direction: ltr;
    padding: 0 35px;
}

.avatar-section4-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.avatar-section4-11{
    font-weight: bold;
}

.avatar-section4-12{
    
}

.avatar-section4-2{
    border-top: 2px solid teal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-right: 0px;
}

.avatar-section4-2 img{
    border-radius: 15px;
    transition: transform 0s;
    margin: 5px;
}

.avatar-section4-2 img:hover{
    transform: rotateZ(360deg);
    transition: transform 0.5s;
}