.avatar{

}

.avatar .fade{
    height: 50px;
}

.avatar-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.avatar-section1 p{
    font-size: 25px;
}

.avatar-section2{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.avatar-section2-1{
    display: flex;
    flex-direction: row;
    padding: 0 5px;

}

.avatar-section2-2{
    background-color: transparent;
    display: flex;
    flex-direction: row;

}

.avatar-section2-21{
    background-color: transparent;
    display: flex;
    flex-direction: row;

}

.avatar-section2-211{
    background-color: transparent;

}

.avatar-section2-212{
    background-color: transparent;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.avatar-section2-2121{
    margin: 0 0 10px 0;
}

.avatar-section2-2122{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.avatar-section2-21221{
    font-weight: bold;
}

.avatar-section2-2123{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.avatar-section2-21231{
    font-weight: bold;
}