.room-sidebar{
    width: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 0 15px 15px 0;
    direction: rtl;
    transition: width 0.5s;
    padding: 0;
}

.room-sidebar div{
    direction: ltr;
}

.fade-room{
    height: 45px;
    margin: 0;
}

.hr-room{
    width: 80%;
    border-color: teal;
    margin: 0 40px 20px 0px;

}

.room-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 50px;
    
}

.room-section1-1{

}

.room-section1-2{
    font-weight: bold;
}

.room-section1-3{

}

.room-section2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px;

}

.room-section2-1{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.room-section2-11{

}

.room-section2-12{
    /* color: rgb(25, 225, 225); */
    color: rgb(11, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.room-section2-121{
    display: flex;
    flex-direction: column;

}

.room-section2-1211{

}

.room-section2-1212{
    font-weight: bold;
}

.room-section2-122{
    display: flex;
    flex-direction: row;

}

.room-section2-1221{
    
}

.room-section2-1222{

}

.room-section2-1223{

}

.room-section2-2{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

}

.room-section2-tags{
    background-color: rgba(0, 128, 128, 0.284);
    color: rgb(11, 185, 185);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 5px;
    margin: 5px;
}

.room-section3{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.room-section3-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.room-section3-11{
    font-weight: bold;
}

.room-section3-12{

}

.room-section3-2{
    /* background-color: #fff; */
    /* height: 20px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 30px;

}

.room-section3-section{
    width: 85%;
    background-color: rgba(0, 128, 128, 0.284);
    color: rgb(11, 185, 185);
    text-align: left;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px;
    margin: 2px 5px;
    
}

.room-section3-section:hover{
    border: 2px solid teal;
}

.room-section4{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.room-section4-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.room-section4-11{
    font-weight: bold;
}

.room-section4-12{

}

.room-section4-2{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;

}

.room-section4-section{
    width: 85%;
    background-color: rgba(0, 128, 128, 0.284);
    color: rgb(11, 185, 185);
    font-size: 15px;
    text-align: left;
    /* border: 2px solid transparent; */
    border: none;
    border-left: 2px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
    padding: 3px 5px;
    margin: 2px 5px;
    
}

.room-section4-section:hover{
    border-left: 2px solid teal;
    border-radius: 0 5px 5px 0;
}

.room-section4-section1{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;

}

.room-section4-section1-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.room-section4-section2{
}

.section4-3{
    padding: 10px 30px;
}

.section4-31{
    background-color: transparent;
    color: teal;
    font-size: 15px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.section4-31:hover{
    text-shadow: 0 0 1px teal;
}

.room-section5{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.room-section5-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.room-section5-11{
    font-weight: bold;
}

.room-section5-12{

}

.room-section5-2{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;

}

.room-section5-section{
    width: 85%;
    background-color: rgba(0, 128, 128, 0.284);
    color: rgb(11, 185, 185);
    text-align: left;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px;
    margin: 2px 5px;
    
}

.room-section5-section:hover{
    border: 2px solid teal;
}

.section5-3{
    padding: 10px 30px;
}

.section5-31{
    background-color: transparent;
    color: teal;
    font-size: 15px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.section5-31:hover{
    text-shadow: 0 0 1px teal;
}