.sidebar{
    height: 100%;
    width: 460px;
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    overflow: scroll;
    z-index: 3;
    padding: 5px;
    margin: auto;
}

.fade{
    height: 100px;
    width: 100%;
    /* border-radius: 15px; */
    position: sticky;
}

.fade-top{
    background: linear-gradient(180deg, rgb(2, 8, 26), transparent);
    top: 0;
}

.fade-bottom{
    background: linear-gradient(0deg, rgb(2, 8, 26), transparent);
    bottom: 0;
}

.close-sidebar{
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.close-sidebar:hover{
    background-color: rgb(182, 0, 0);
}

.skill-short1{
    border: 1.7px solid rgba(0, 128, 128, 0.7);
    width: 70%;
    margin: 10px auto;
}

.skill-short2{
    border: 1.7px solid rgba(0, 128, 128, 0.7);
    width: 90%;
    margin: 10px auto;
}

.skills-sidebar{
    width: 0;
    border: none;
    border-radius: 15px 0 0 15px;
    transition: width 0.5s;
    top: 0;
    right: 0;
    padding: 0;
}

.skills-sidebar h2{
    font-size: 27px;
    text-align: center;
    justify-self: center;
    margin: 10px;
}

.skill-profile{
    border-top: 2px solid teal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;
}

.skill-profile-details{
    color: rgb(0, 197, 197);
    /* color: teal; */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-start;
    gap: 5px;
}

.skill-profile-details-header{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.skill-profile-details-header-p2{
    font-weight: bold;
    font-size: 23px;
    margin: 5px 0;
}

.skill-profile-details-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-profile-details-body1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.skill-profile-details-body2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* -------------------------------------------------------------------------- */
/*                              Skill Rating Body                             */
/* -------------------------------------------------------------------------- */




.skill-rating{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    padding: 0 50px;
}

.skill-rating1-header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-self: left;
    align-self: flex-start;
    margin: 10px 10px 10px 0;
}

.skill-rating1-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
    padding: 20px;
}

.skill-rating2-header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-self: left;
    align-self: flex-start;
    margin: 10px 10px 10px 0;
}

.skill-rating2-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    gap: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.skill-rating2-body-p1{
    font-size: 40px;
    font-weight: bold;
}

.skill-rating3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.skill-rating3-header{
    font-size: 30px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 10px;
}

.skill-rating3-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 0 20px;
    margin: 5px 0 20px 0;
}

.skill-rating3-body img{
    border-radius: 50%;
}

.skill-rating3-body-bar{
    height: 15px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(51, 56, 60);
}

.skill-rating3-body-bar-span{
    display: block;
    height: 100%;
    width: 10%;
    background-color: rgb(5, 83, 83);
    border: 4px solid teal;
    border-radius: 15px;
}

.skill-rating3-body1-bar-span{
    width: 70%;
}

.skill-rating3-body2-bar-span{
    width: 90%;
}

.skill-rating3-body3-bar-span{
    width: 40%;
}

.skill-rating3-body4-bar-span{
    width: 92%;
}


.skill-rating4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-rating4-header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-self: left;
    align-self: flex-start;
    /* margin: 10px 10px 10px 0; */
}

.skill-rating4-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.skill-rating4-body1{
    align-self: flex-start;
    padding: 10px;

}

.skill-rating4-body img{
    border-radius: 50%;
}

.skill-rating4-body2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin: 5px 0;
}

.skill-rating4-body2 img{
    border-radius: 50%;
    margin: 10px;
}






















































































@media screen and (max-width: 200px) {
    .skills-sidebar{
        color: #fff;
    }
}