/*!
 _____   _____    _____   __   _   _____        _____   __   _   _____        _____   _____       ___  ___   _____   _           ___   _____   _____  
|  ___| |  _  \  /  _  \ |  \ | | |_   _|      | ____| |  \ | | |  _  \      |_   _| | ____|     /   |/   | |  _  \ | |         /   | |_   _| | ____| 
| |__   | |_| |  | | | | |   \| |   | |        | |__   |   \| | | | | |        | |   | |__      / /|   /| | | |_| | | |        / /| |   | |   | |__   
|  __|  |  _  /  | | | | | |\   |   | |        |  __|  | |\   | | | | |        | |   |  __|    / / |__/ | | |  ___/ | |       / / | |   | |   |  __|  
| |     | | \ \  | |_| | | | \  |   | |        | |___  | | \  | | |_| |        | |   | |___   / /       | | | |     | |___   / /  | |   | |   | |___  
|_|     |_|  \_\ \_____/ |_|  \_|   |_|        |_____| |_|  \_| |_____/        |_|   |_____| /_/        |_| |_|     |_____| /_/   |_|   |_|   |_____|           
                  				 
 */

@keyframes progress {
  from {width:0%;}
  to {width: 100%;}
}
.imgs {
  margin-top: 90px;
}
@keyframes solbirles {
0% {transform: translateX(0px);}
50% {transform: translateX(115px);}
100% {transform: translateX(230px);}
150% {transform: translateX(0px);}
}

@keyframes sagbirles {
0% {transform: translateX(0px);}
50% {transform: translateX(-115px);}
100% {transform: translateX(-230px);}
150% {transform: translateX(0px);}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes wobble {
from {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

15% {
  -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
}

30% {
  -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
}

45% {
  -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
}

60% {
  -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
}

75% {
  -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes wobble {
from {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

15% {
  -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
}

30% {
  -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
}

45% {
  -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
}

60% {
  -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
}

75% {
  -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.loaderscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  background-color: #121621;
}

.corelogames-logo {
  background: url(../images/loader/corelogames.png);
  width: 181px;
  height: 55px;
  position: fixed;
  left: 24px;
  bottom: 15px;
  opacity: 0.7;
}

.load-bilgilendirme2 {
  position: fixed;
  left: 24px;
  bottom: 85px;
  width: 180px;
  height: auto;
  background: #0000001c;
  border-radius: 5px;
  animation: fadeInLeft 2s;
  box-shadow: 1.5px 1.5px 3px 0px #0d1119;
}

p.l-b2-baslik {
  float: left;
  padding: 11px 0px 5px 10px;
  font-size: 12px;
  color: #ffffffc7;
  font-weight: bold;
}

p.l-b2-text {
  float: left;
  padding: 3px 5px 5px 8px;
  font-size: 12px;
  color: #ffffff96;
}

.load-bilgilendirme3 {
  position: fixed;
  left: 24px;
  bottom: 205px;
  width: 180px;
  height: auto;
  background: #0000001c;
  border-radius: 5px;
  animation: fadeInLeft 2s;
  box-shadow: 1.5px 1.5px 3px 0px #0d1119;
}

.cgames-surum {
  position: fixed;
  right: 10;
  top: 10;
  font-size: 10px;
}

#l-surum {
  color: #525f84;
  cursor: pointer;
}

:root {
  --background: #121621;
}

.loaderscreen-box {
  --duration: 3s;
  --primary: rgba(39, 94, 254, 1);
  --primary-light: #2f71ff;
  --primary-rgba: rgba(39, 94, 254, 0);
  width: 200px;
  height: 320px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 30%;
}
@media (max-width: 480px) {
  .loaderscreen-box {
    zoom: .44;
  }
}
.loaderscreen-box:before, .loaderscreen-box:after {
  --r: 20.5deg;
  content: '';
  width: 320px;
  height: 140px;
  position: absolute;
  right: 32%;
  bottom: -11px;
  background: var(--background);
  -webkit-transform: translateZ(200px) rotate(var(--r));
          transform: translateZ(200px) rotate(var(--r));
  -webkit-animation: mask var(--duration) linear forwards infinite;
          animation: mask var(--duration) linear forwards infinite;
}
.loaderscreen-box:after {
  --r: -20.5deg;
  right: auto;
  left: 32%;
}
.loaderscreen-box .ground {
  position: absolute;
  left: -50px;
  bottom: -120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
          transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
.loaderscreen-box .ground div {
  -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
          transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  width: 200px;
  height: 200px;
  background: var(--primary);
  background: linear-gradient(45deg, var(--primary) 0%, var(--primary) 50%, var(--primary-light) 50%, var(--primary-light) 100%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: ground var(--duration) linear forwards infinite;
          animation: ground var(--duration) linear forwards infinite;
}
.loaderscreen-box .ground div:before, .loaderscreen-box .ground div:after {
  --rx: 90deg;
  --ry: 0deg;
  --x: 44px;
  --y: 162px;
  --z: -50px;
  content: '';
  width: 156px;
  height: 300px;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--primary-rgba)));
  background: linear-gradient(var(--primary), var(--primary-rgba));
  position: absolute;
  -webkit-transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
          transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
  -webkit-animation: ground-shine var(--duration) linear forwards infinite;
          animation: ground-shine var(--duration) linear forwards infinite;
}
.loaderscreen-box .ground div:after {
  --rx: 90deg;
  --ry: 90deg;
  --x: 0;
  --y: 177px;
  --z: 150px;
}
.loaderscreen-box .box {
  --x: 0;
  --y: 0;
  position: absolute;
  -webkit-animation: var(--duration) linear forwards infinite;
          animation: var(--duration) linear forwards infinite;
  -webkit-transform: translate(var(--x), var(--y));
          transform: translate(var(--x), var(--y));
}
.loaderscreen-box .box div {
  background-color: var(--primary);
  width: 48px;
  height: 48px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: var(--duration) ease forwards infinite;
          animation: var(--duration) ease forwards infinite;
  -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
          transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}
.loaderscreen-box .box div:before, .loaderscreen-box .box div:after {
  --rx: 90deg;
  --ry: 0deg;
  --z: 24px;
  --y: -24px;
  --x: 0;
  content: '';
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
          transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
  -webkit-filter: brightness(var(--b, 1.2));
          filter: brightness(var(--b, 1.2));
}
.loaderscreen-box .box div:after {
  --rx: 0deg;
  --ry: 90deg;
  --x: 24px;
  --y: 0;
  --b: 1.4;
}
.loaderscreen-box .box.box0 {
  --x: -220px;
  --y: -120px;
  left: 58px;
  top: 108px;
}
.loaderscreen-box .box.box1 {
  --x: -260px;
  --y: 120px;
  left: 25px;
  top: 120px;
}
.loaderscreen-box .box.box2 {
  --x: 120px;
  --y: -190px;
  left: 58px;
  top: 64px;
}
.loaderscreen-box .box.box3 {
  --x: 280px;
  --y: -40px;
  left: 91px;
  top: 120px;
}
.loaderscreen-box .box.box4 {
  --x: 60px;
  --y: 200px;
  left: 58px;
  top: 132px;
}
.loaderscreen-box .box.box5 {
  --x: -220px;
  --y: -120px;
  left: 25px;
  top: 76px;
}
.loaderscreen-box .box.box6 {
  --x: -260px;
  --y: 120px;
  left: 91px;
  top: 76px;
}
.loaderscreen-box .box.box7 {
  --x: -240px;
  --y: 200px;
  left: 58px;
  top: 87px;
}
.loaderscreen-box .box0 {
  -webkit-animation-name: box-move0;
          animation-name: box-move0;
}
.loaderscreen-box .box0 div {
  -webkit-animation-name: box-scale0;
          animation-name: box-scale0;
}
.loaderscreen-box .box1 {
  -webkit-animation-name: box-move1;
          animation-name: box-move1;
}
.loaderscreen-box .box1 div {
  -webkit-animation-name: box-scale1;
          animation-name: box-scale1;
}
.loaderscreen-box .box2 {
  -webkit-animation-name: box-move2;
          animation-name: box-move2;
}
.loaderscreen-box .box2 div {
  -webkit-animation-name: box-scale2;
          animation-name: box-scale2;
}
.loaderscreen-box .box3 {
  -webkit-animation-name: box-move3;
          animation-name: box-move3;
}
.loaderscreen-box .box3 div {
  -webkit-animation-name: box-scale3;
          animation-name: box-scale3;
}
.loaderscreen-box .box4 {
  -webkit-animation-name: box-move4;
          animation-name: box-move4;
}
.loaderscreen-box .box4 div {
  -webkit-animation-name: box-scale4;
          animation-name: box-scale4;
}
.loaderscreen-box .box5 {
  -webkit-animation-name: box-move5;
          animation-name: box-move5;
}
.loaderscreen-box .box5 div {
  -webkit-animation-name: box-scale5;
          animation-name: box-scale5;
}
.loaderscreen-box .box6 {
  -webkit-animation-name: box-move6;
          animation-name: box-move6;
}
.loaderscreen-box .box6 div {
  -webkit-animation-name: box-scale6;
          animation-name: box-scale6;
}
.loaderscreen-box .box7 {
  -webkit-animation-name: box-move7;
          animation-name: box-move7;
}
.loaderscreen-box .box7 div {
  -webkit-animation-name: box-scale7;
          animation-name: box-scale7;
}

@-webkit-keyframes box-move0 {
  12% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  25%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}

@keyframes box-move0 {
  12% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  25%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale0 {
  6% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  14%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale0 {
  6% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  14%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move1 {
  16% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  29%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move1 {
  16% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  29%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale1 {
  10% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  18%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale1 {
  10% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  18%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move2 {
  20% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  33%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move2 {
  20% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  33%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale2 {
  14% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  22%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale2 {
  14% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  22%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move3 {
  24% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  37%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move3 {
  24% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  37%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale3 {
  18% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  26%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale3 {
  18% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  26%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move4 {
  28% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  41%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move4 {
  28% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  41%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale4 {
  22% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  30%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale4 {
  22% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  30%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move5 {
  32% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  45%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move5 {
  32% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  45%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale5 {
  26% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  34%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale5 {
  26% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  34%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move6 {
  36% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  49%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move6 {
  36% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  49%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale6 {
  30% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  38%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale6 {
  30% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  38%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move7 {
  40% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  53%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@keyframes box-move7 {
  40% {
    -webkit-transform: translate(var(--x), var(--y));
            transform: translate(var(--x), var(--y));
  }
  53%,
        52% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
            transform: translate(0, -32px);
  }
  90%,
        100% {
    -webkit-transform: translate(0, 188px);
            transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale7 {
  34% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  42%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale7 {
  34% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  42%,
        100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
            transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes ground {
  0%,
    65% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
            transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
  75%,
    90% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
            transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
            transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
}
@keyframes ground {
  0%,
    65% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
            transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
  75%,
    90% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
            transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
            transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
}
@-webkit-keyframes ground-shine {
  0%,
    70% {
    opacity: 0;
  }
  75%,
    87% {
    opacity: .2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ground-shine {
  0%,
    70% {
    opacity: 0;
  }
  75%,
    87% {
    opacity: .2;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes mask {
  0%,
    65% {
    opacity: 0;
  }
  66%,
    100% {
    opacity: 1;
  }
}
@keyframes mask {
  0%,
    65% {
    opacity: 0;
  }
  66%,
    100% {
    opacity: 1;
  }
}

corelo-footer {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-family: Arial;
  width: auto;
  font-size: 12px;
  line-height: 19px;
  z-index: 1;
  color: #404860;
}
@media (min-width: 481px) {
  corelo-footer {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
}
@media (max-width: 480px) {
  corelo-footer {
    left: 20px;
    right: 112px;
    font-size: 10px;
    line-height: 17px;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
  }
}

.load-bilgilendirme {
    position: fixed;
    display: block;
    right: 24px;
    bottom: 24px;
    width: auto;
    height: 35px;
    background: #00000026;
}

p.l-b-text {
    float: left;
    padding: 9px 0px 9px 9px;
    font-size: 15px;
}

.lsbg {
  width: 9000px;
  height: 9000px;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
  background: url(../images/loader/lsbg.png?aa);
  animation: slideOutRight 180s linear infinite;
}

.loader-stext {
  position: absolute;
  top: 59%;
  color: #ffffffb3;
  font-size: 17px;
  width: 500px;
  height: 20px;
  text-align: center;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  background: linear-gradient(266deg, rgba(0,0,0,0) 0%, rgb(0 0 0 / 0.10) 10%, rgba(0,0,0,0.25) 50%, rgb(0 0 0 / 0.10) 90%, rgba(0,0,0,0) 100%);
  overflow: hidden;
}

